/* KEYFRAMES */
@keyframes wobble-hor-top {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateX(-30px) rotate(6deg);
    }
    30% {
      transform: translateX(15px) rotate(-6deg);
    }
    45% {
      transform: translateX(-15px) rotate(3.6deg);
    }
    60% {
      transform: translateX(9px) rotate(-2.4deg);
    }
    75% {
      transform: translateX(-6px) rotate(1.2deg);
    }
  }
  

/* GENERAL */
*{
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}
body {
    background: #6f2a34;
}
.welcome-container{
    border-radius: 30px;
    background: #6f2a34;
    box-shadow:  -26px -26px 51px #501e25, 26px 26px 51px #8e3643;
    width: 450px;
    transition: 1.5s ease-in-out;
}
.welcome-container:hover{
    box-shadow:  -26px -26px 51px #3c171c,26px 26px 51px #a23d4c;
    width: 30vw;
}
.start-game {
    font-family: 'Monoton', cursive;
    font-size: 2rem;
    color: white;
}

.container-player{
    padding: 1rem;
    border-radius: 10px;
}

.player-one, .player-two{
    background-color: aliceblue;
    height: 30vh;
    padding: 1rem;
    border-radius: 10px;
    background: linear-gradient(315deg, #64262f, #772d38);
    box-shadow:  -28px 28px 56px #3c171c, 28px 28px 56px #a23d4c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
.player-two{
  background: linear-gradient(315deg, #64262f, #772d38);
  box-shadow: 28px 28px 56px #3c171c, 28px 28px 56px #a23d4c;
}
.player-info{
  font-family: 'Monoton', cursive;
  color:white
}
.waiting-room-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    background: linear-gradient(315deg, #64262f, #772d38);
    box-shadow:  -28px -28px 56px #3c171c, 28px 28px 56px #a23d4c;
    height: 400px;
    width: auto;
}
lottie-player {
    max-height: 30vh;
}
.lottie-banner {
  display: flex;
}
.player-1 {
  transform: scaleX(-1);
}

.dice-container {
    border-radius: 50px;
    background: #6f2a34;
    box-shadow: inset 20px 20px 50px #5e242c, inset -20px -20px 50px #80303c;
    height: 350px;
}
.dice {
    background-color: tomato;
}
.wobble-hor-top {
	animation: wobble-hor-top 1s infinite alternate-reverse;
}
.box{
    width: 20%;
    height: 60%;
    border-radius: 20px;
    background: linear-gradient(315deg, #64262f, #772d38);
    box-shadow:  -28px -8px 56px #3c171c, 28px 28px 56px #a23d4c;
}
.score {
  font-size: 5rem;
  border: solid 2px;
  margin: 4rem;
  border-radius: 20px;
}
.totalscore {
  color: white;
  width: 40vw;
  font-size: 10rem;
  text-shadow:  1px 1px 10px #babebf, -1px -1px 10px #fcffff;
}

.chat-box {
  max-height: 20vw;
  overflow: auto;
}

.chatbox{
  background: #6f2a34;
}